<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% @post.tags.build %>
    <%= form_for(@post) do |post_form| %>
        <% if @post.errors.any? %>
            <div id="errorExplanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
              <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :name %>
          <br/>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :title %>
          <br/>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <%= f.label :content %>
          <br/>
          <%= f.text_area :content %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>

        <h2>Tags</h2>
        <%= render :partial => 'tags/form',
                   :locals => {:form => post_form} %>
        <div class="actions">
          <%= post_form.submit %>
        </div>
    <% end %>
<% end %>
